.first  {
    display:inline;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
  }
.first :hover {
  background-color: white
}
header {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

#centered_img {
    margin-left: 40%;
    margin-top: 30px;
}
.making {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(252, 29, 29);
    margin-left: 30%;
    margin-right: 30%;
    
}
.divmking {
    text-align: center;
}
.pipi {
    display: flex;
    justify-content: space-evenly;
}
.pipibox {
    width: 500px;
    height: 300px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;
    font-size: larger;
}

.form-container {
    width: 350px;
    height: 500px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
    margin-left: 40%;
    margin-bottom: 80px;
  }
  
  .title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
  }
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
  }
  
  .input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
  }
  
  .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
  }
  
  .page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
  }
  
  .page-link-label:hover {
    color: #000;
  }
  
  .form-btn {
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-btn:active {
    box-shadow: none;
  }
  
  .sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
  }
  
  .apple-login-button,
      .google-login-button {
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    gap: 5px;
  }
  
  .apple-login-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
  }
  
  .google-login-button {
    border: 2px solid #747474;
  }
  
  .apple-icon,
      .google-icon {
    font-size: 18px;
    margin-bottom: 1px;
  }
.makesure {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    color: white;
    background-color: #000;
    margin-left: 43%;
    margin-right: 39%;
    margin-bottom: 80px;
    font-size: xx-large;
    border-radius: 40px;
    height: 40px;
}

.shopping-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
    border-radius: 10px;
    padding: 3%;
    margin: 50px 0;
}

.total-price span {
    font-size: 30px;
}

.total {
    font-weight: bold;
}

.list-products {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

.card {
    padding: 5%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quantity {
    font-size: 25px;
}

.card-body div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.fa-trash-alt {
    color: #de6b5c;
}
/*.imgHeader{
    background-image: url("Screenshot\ 2024-08-28\ 102649.png");
    background-repeat: none;
    background-size: cover;
   
    height: 450px;
    text-align: center;
    align-items: center;
    padding-top: 3%;
} */
main {
    background-color: #eed9c4
}